form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    span, input {
      flex: 1;
    }
  }
}