form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    span, input {
      flex: 1;
    }
  }

  &.conversion {
    position: absolute;
    bottom: 2em;
    right: 2em;
    margin-bottom: 0;
    max-width: calc(100% - 4em);
  }
}