/* Page styling
================================== */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

html {
  height: 100%;
  background-color: #EEE;
}

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border: double 3px #DDD;
  border-top: none;
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

strong {
  color: darken(slategrey, 20%);
}

.btn {
  border: none;
  background-color: #cbcbcb;
  cursor: pointer;
  height: 25px;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  transition: all 250ms;

  &:hover {
    background-color: #909090;
    color: #f9f9f9;
    letter-spacing: 2px;
    font-weight: bold;
  }
}

input {
  &.default {
    border: none;
    border-bottom: 1px solid #cbcbcb;
    outline: none;
    transition: all 250ms;

    &:active, &:focus {
      border-color: #005aff;
    }
  }
}