.expenses {
  overflow-x: auto;

  table {
    width: 100%;
    margin-bottom: 20px;

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #cbcbcb;
        }

        &:first-child {
          background-color: #ababab;
        }

        th, td {
          padding: 5px;

          &.delete {
            cursor: pointer;
            transition: background-color 250ms;

            &:hover {
              background-color: #ababab;
            }
          }
        }
      }
    }
  }
}